div.bar {
  padding: 0;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  background: $red;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  * {
    color: getFontColor($red);
  }

  h3 {
    padding-top: 100px;

    @include mobile() {
      padding-top: 200px;
      width: 100px;
    }

    text-align: center;
    text-transform: uppercase;
    font-size: getFontSize("xs");
    text-decoration: underline;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      min-width: 50%;
      display: block;
      padding: 20px;
      margin: 10px;

      * {
        display: inline-block;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: getFontSize("xs");
      }
    }
  }

  @include mobile() {

    & ul {
      width: 200px;
    }

    &.maximized {
      animation-name: maximize-bar;
      animation-duration: 0.5s;
      animation-direction: normal;
      animation-fill-mode: forwards;
      
      ul {
        visibility: visible;
        overflow: visible;
      }
    }

    &.minimized {
      animation-name: minimize-bar;
      animation-duration: 0.5s;
      animation-direction: normal;
      animation-fill-mode: forwards;

      ul {
        visibility: hidden;
        overflow: hidden;
      }
    }

    ul {
      visibility: hidden;
    }
  }
}

$maxWidth: 200px;
$minWidth: 100px;

@keyframes maximize-bar {
  0% {
    width: $minWidth;
  }

  100% {
    width: $maxWidth;
  }
}

@keyframes minimize-bar {
  0% {
    width: $maxWidth;
  }

  100% {
    width: $minWidth;
  }
}

div.leftbar {
  left: 0;
  grid-column: 1;
  justify-self: baseline;
  filter: drop-shadow(3px 0px 5px rgba(0, 0, 0, 0.25));
}

div.rightbar {
  right: 0;
  grid-column: 3;
  justify-self: end;
  filter: drop-shadow(-3px 0px 5px rgba(0, 0, 0, 0.25));
}