div.bar {
  position: absolute;
  top: 0;
  height: calc(100% - 300px);
  width: 20%;
  background: $red;
  padding-top: 300px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  * {
    color: getFontColor($red);
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: getFontSize("s");
    text-decoration: underline;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      min-width: 50%;
      display: block;
      padding: 20px;
      margin: 10px;

      * {
        display: inline-block;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: getFontSize("s");
      }
    }
  }

  @include mobile() {
    padding-top: 400px;
    height: calc(100% - 400px);

    &.maximized {
      animation-name: maximize-bar;
      animation-duration: 0.5s;
      animation-direction: normal;
      animation-fill-mode: forwards;
      
      ul {
        visibility: visible;
      }
    }

    &.minimized {
      animation-name: minimize-bar;
      animation-duration: 0.5s;
      animation-direction: normal;
      animation-fill-mode: forwards;

      ul {
        visibility: hidden;
      }
    }

    ul {
      visibility: hidden;
    }
  }
}

$maxWidth: 47%;
$minWidth: 20%;

@keyframes maximize-bar {
  0% {
    width: $minWidth;
  }

  100% {
    width: $maxWidth;
  }
}

@keyframes minimize-bar {
  0% {
    width: $maxWidth;
  }

  100% {
    width: $minWidth;
  }
}

div.leftbar {
  left: 0;
  grid-column: 1;
  filter: drop-shadow(3px 0px 5px rgba(0, 0, 0, 0.25));
}

div.rightbar {
  right: 0;
  grid-column: 3;
  filter: drop-shadow(-3px 0px 5px rgba(0, 0, 0, 0.25));

}