div.bar {
  width: 100%;
  height: 100%;
  background: $red;
  padding-top: 300px;
  grid-row: 1 / span 3;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes maximize-leftbar {
  0% {
    width: 15%;
  }

  100% {
    width: 30%;
  }
}

@keyframes minimize-leftbar {
  0% {
    width: 30%;
  }

  100% {
    width: 15%;
  }
}

div.leftbar {
  grid-column: 1;
  filter: drop-shadow(3px, 0px, 5px, rgba(0, 0, 0, 0.25));

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      text-wrap: nowrap;
      padding: 20px;

      a {
        display: inline-block;
        height: 100%;
        width: 100%;
        text-align: center;
      }
    }
  }

  @include mobile() {
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    height: auto;
    position: absolute;
    overflow: hidden;

    &.maximized {
      animation-name: maximize-leftbar;
      animation-duration: 0.5s;
      animation-direction: normal;
      animation-fill-mode: forwards;
      
      ul {
        visibility: visible;
      }
    }

    &.minimized {
      animation-name: minimize-leftbar;
      animation-duration: 0.5s;
      animation-direction: normal;
      animation-fill-mode: forwards;

      ul {
        visibility: hidden;
      }
    }

    ul {
      visibility: hidden;
    }
  }
}

div.rightbar {
  grid-column: 3;
  filter: drop-shadow(-3px, 0px, 5px, rgba(0, 0, 0, 0.25));

  @include mobile() {
    top: 0;
    bottom: 0;
    right: 0px;
    width: 15%;
    height: auto;
    position: absolute;
    overflow: hidden;
  }
}