/* MAIN */

div.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background: none;
  align-items: center;
  font-size: getFontSize("s");
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;

  & h1 { 
    @include mobile() {
      padding-top: 100px;
    }
  }

  & .title {
    @include mobile() {
      padding-top: 100px;
    }
  }

  * {
    color: getFontColor($orange);
    font-size: getFontSize("s");
    padding: 10px;
  }
  
  h1 {
    font-size: getFontSize("xl");
    text-align: center;
  }

  h2 {
    font-size: getFontSize("l");
    text-align: center;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}