/* MAIN */

div.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background: none;
  width: 100%;
  padding-top: 200px;
  padding-left: calc(20% + 50px);
  padding-right: calc(20% + 50px);
  align-items: center;
  font-size: getFontSize("s");

  * {
    color: getFontColor($orange);
    font-size: getFontSize("s");
    padding: 10px;
  }
  
  h1 {
    font-size: getFontSize("xl");
    text-align: center;
  }

  h2 {
    font-size: getFontSize("l");
    text-align: center;
  }

  @include mobile() {
    padding-top: 300px;
  }
}
