/* MAIN */

div.content {
  grid-row: 1 / span 3;
  grid-column: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background: $orange;
  padding-top: 300px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;

  @include mobile() {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 15%;
    right: 15%;
    bottom: 0;
  }
}
