div.header {
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  position: absolute;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));

  pointer-events: none;

  & > h1 {
    pointer-events: auto;
    position: absolute;
    top: 5%;
  }

  & > svg {
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  & * {
    color: getFontColor($green);
  }
}

rect.header-base {
  fill: $green;
}

rect.header-trim {
  fill: $lightGreen;
}