@import 'reset';
@import 'colors';
@import 'fonts';
@import 'responsive';
@import 'header';
@import 'content';
@import 'bars';

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  background: $orange;
}