<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap" rel="stylesheet">
    {{ $options := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
    {{ with resources.Get "sass/root.scss" | toCSS $options | minify | fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
  </head>
  <body>
    <div class="main">
      <div class="bar leftbar">
        {{ partial "menu" }}
      </div>
      <div class="content">
        {{ block "content" . }}
        {{ end }}
      </div>
      <div class="bar rightbar">
        {{ partial "future-events" }} 
      </div>
    </div>
    <div class="header">
      <svg viewBox="0 0 300 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="trim">
          <rect
            width="300"
            height="100"
            x="0"
            y="0"
            fill="white"
          />
          <ellipse
            cx="150"
            cy="100"
            rx="100"
            ry="60"
            fill="black"
          />
          <ellipse
            cx="50"
            cy="100"
            rx="50"
            ry="25"
            fill="black"
          />
          <ellipse
            cx="250"
            cy="100"
            rx="50"
            ry="25"
            fill="black"
          />
        </mask>

        <rect
          class="header-base"
          width="300"
          height="100"
          x="0"
          y="0"
          fill="#000000"
          mask="url(#trim)"
        />

        <mask id="edge">
          <ellipse
            cx="150"
            cy="100"
            rx="110"
            ry="70"
            fill="white"
          />
          <ellipse
            cx="50"
            cy="100"
            rx="60"
            ry="35"
            fill="white"
          />
          <ellipse
            cx="250"
            cy="100"
            rx="60"
            ry="35"
            fill="white"
          />
          <ellipse
            cx="150"
            cy="100"
            rx="105"
            ry="65"
            fill="black"
          />
          <ellipse
            cx="50"
            cy="100"
            rx="55"
            ry="30"
            fill="black"
          />
          <ellipse
            cx="250"
            cy="100"
            rx="55"
            ry="30"
            fill="black"
          />
        </mask>

        <rect
          class="header-trim"
          width="300"
          height="100"
          x="0"
          y="0"
          fill="#000000"
          mask="url(#edge)"
        />
      </svg>
      <h1>
        <a href="{{ .Site.BaseURL}}">{{ .Site.Title }}</a>
      </h1>
    </div>
    <script src="{{ .Site.BaseURL }}script.js"></script>
  </body>
</html>