{{ define "content" }}
  <p>
    Op onze website vind je alle informatie die je nodig hebt om lekker te gaan schrijven. Deze website is véél meer dan een informatiebron, het is een interactief PLATFORM: lees verhalen van Nederlandse schrijvers (en werk van niet-Nederlandse auteurs in het Nederlands vertaald), lees schrijftips om je werk te verbeteren en ontdek wat er allemaal te doen is in de stad voor lezers, schrijvers en NT2ers. 
En het allerleukste: de website is een PODIUM! Post je eigen ZKV’s en lees de korte verhalen van andere liefhebbers en leerders van de Nederlandse taal.
  </p>
{{ end }}
