* {
  color: black;
  font-family: 'EB Garamond', serif;
  font-size: 2vmax;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 300px 1fr 20%;
  grid-template-columns: 20% 1fr 20%;
}

@media screen and (orientation: portrait) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

div.header {
  width: 100%;
  height: 100%;
  position: relative;
  grid-row: 1;
  grid-column: 1 / span 3;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

div.header > h1 {
  position: absolute;
  top: 5%;
}

div.header > h2 {
  position: absolute;
  top: 10%;
}

div.header > svg {
  height: 100%;
  width: 100%;
}

@media screen and (orientation: portrait) {
  div.header {
    z-index:1;
    position: relative;
    height: 300px;
  }
}

div.leftbar {
  width: 100%;
  height: 100%;
  grid-row: 1 / span 3;
  grid-column: 1;
  justify-self: center;
  background: rgb(255,0,0);
  padding-top: 300px;
}

@media screen and (orientation: portrait) {
  div.leftbar {
    top: 0;
    bottom: 0;
    width: 15%;
    height: auto;
    position: absolute;
    overflow: hidden;
  }
}

div.rightbar {
  width: 100%;
  height: 100%;
  grid-row: 1 / span 3;
  grid-column: 3;
  justify-self: center;
  background: rgb(255,0,0);
  padding-top: 300px;
}

@media screen and (orientation: portrait) {
  div.rightbar {
    top: 0;
    bottom: 0;
    right: 0px;
    width: 15%;
    height: auto;
    position: absolute;
    overflow: hidden;
  }
}

div.main {
  grid-row: 1 / span 3;
  grid-column: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  background: orange;
  padding-top: 300px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

@media screen and (orientation: portrait) {
  div.main {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 15%;
    right: 15%;
    bottom: 0;
  }
}

div.footer {
  width: 100%;
  height: 100%;
  grid-row: 3;
  grid-column: 2;
}

@media screen and (orientation: portrait) {
  div.footer {
    height: 10%;
  }
}